.about-section {
    height: 0%;
    margin-top: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit , minmax(100px , 1fr));
}

.about-header {
    margin: 30px 0;
}

.about-section h2 {
    margin-top: 0;
}

.about-section img {
    width: 100%;
}