.app-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 50px;
    
    background-color: var(--green);
    color: #fff;
}
.app-footer p {
    margin: 0;
}