.app-header {
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    height: 70px;
    background-color: #7796CB;
    padding: 10px;
    margin-bottom: 20px;
}

.app-header h1 {
    margin: 0;
}

.app-header nav {
    display: flex;
    gap: 10px;
}