.app-header {
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
    
    height: 70px;
    background-color: var(--green);
    padding: 10px;
    color: #fff;
}

.app-header h1 {
    margin: 0;
}

.app-header nav {
    display: flex;
    gap: 10px;
}