.books-list ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 10px;

    padding: 10px;
    list-style-type: none;
}
.books-list ul li{
    text-align: center;
    padding: 10px;
    background-color: #fff;
}

.book-preview h2 {
    color: var(--txt);
    font-weight: bold;
}

.books-list button {
    position: relative;
    color: var(--header);
    background-color: inherit;
    border: none;
}

.books-list button:hover {
    cursor: pointer;
}