.books-list ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 10px;

    padding: 10px;
    list-style-type: none;
}
.books-list ul li{
    border-radius: 5px;
    position: relative;
    text-align: center;
    padding: 25px;
    background-color: #f1f1f1;
    color: rgb(0, 0, 0);
}

.book-preview h2 {
    font-weight: bold;
}

.books-list button {
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50%;
    padding: 7px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #7796CB;
    border: none;
    transition: .4s;
}

.books-list img {
    transition: .4s;
}

.books-list img:hover {
    transform: rotate(10deg);
}

.books-list button:hover {
    cursor: pointer;
    background-color: #f1f1f1;
}